<div class="row variablerow">
    <div class="col-md-6 namecol">
        <p class="h4">Dataset info</p>
        <table class="stats" style="margin-left: 1em;">
            <tbody>
            <tr>
                <th>Number of variables</th>
                <td>{{#values}}{{nvar}}{{/values}} </td>
            </tr>
            <tr>
                <th>Number of observations</th>
                <td>{{#values}}{{n}}{{/values}} </td>
            </tr>
            <tr>
                <th>Total Missing (%)</th>
                <td>{{#values}}{{totalMissing}}{{/values}} </td>
            </tr>
            <tr>
                <th>Total size in memory</th>
                <td>{{#values}}{{memsize}}{{/values}} </td>
            </tr>
            <tr>
                <th>Average record size in memory</th>
                <td>{{#values}}{{recordsize}}{{/values}} </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 namecol">
        <p class="h4">Variables types</p>
        <table class="stats" style="margin-left: 1em;">
            <tbody>
            <tr>
                <th>Numeric</th>
                <td>{{#values}}{{NUM}}{{/values}} </td>
            </tr>
            <tr>
                <th>Categorical</th>
                <td>{{#values}}{{CAT}}{{/values}} </td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{#values}}{{DATE}}{{/values}} </td>
            </tr>
            <tr>
                <th>Text (Unique)</th>
                <td>{{#values}}{{UNIQUE}}{{/values}} </td>
            </tr>
            <tr>
                <th>Rejected</th>
                <td>{{#values}}{{REJECTED}}{{/values}} </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12" style="padding-left: 1em;">
        <p class="h4">Warnings</p>
        <ul class="list-unstyled">{{{messages}}} </ul>
    </div>
</div>
