{{> rowHeader}}
<div class="col-md-6">
    <div class="row">
        <div class="col-sm-6">
            <table class="stats ">
                <tr>
                    <th>Distinct count</th>
                    <td>{{#values}}{{distinctCount}}{{/values}}</td>
                </tr>
                <tr>
                    <th>Unique (%)</th>
                    <td>{{#values}}{{pUnique}}{{/values}}</td>
                </tr>
                <tr class="{{#classes}}{{pMissing}}{{/classes}}">
                    <th>Missing (%)</th>
                    <td>{{#values}}{{pMissing}}{{/values}}</td>
                </tr>
                <tr class="{{#classes}}{{pMissing}}{{/classes}}">
                    <th>Missing (n)</th>
                    <td>{{#values}}{{nMissing}}{{/values}}</td>
                </tr>
                <tr class="{{#classes}}{{pInfinite}}{{/classes}}">
                    <th>Infinite (%)</th>
                    <td>{{#values}}{{pInfinite}}{{/values}}</td>
                </tr>
                <tr class="{{#classes}}{{pInfinite}}{{/classes}}">
                    <th>Infinite (n)</th>
                    <td>{{#values}}{{nInfinite}}{{/values}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="stats ">
                <tr>
                    <th>Minimum</th>
                    <td>{{#values}}{{min}}{{/values}}</td>
                </tr>
                <tr>
                    <th>Maximum</th>
                    <td>{{#values}}{{max}}{{/values}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="col-md-3 collapse in" id="minihistogram{{#values}}{{varid}}{{/values}}">
    <img src="{{#values}}{{miniHistogram}}{{/values}}">
</div>
<div class="col-md-12 text-right">
  <a role="button" data-toggle="collapse" data-target="#descriptives{{#values}}{{varid}}{{/values}},#minihistogram{{#values}}{{varid}}{{/values}}"
       aria-expanded="false" aria-controls="collapseExample">
        Toggle details
    </a>
</div>
<div class="row collapse col-md-12" id="descriptives{{#values}}{{varid}}{{/values}}">
    <img src="{{#values}}{{histogram}}{{/values}}">
</div>
{{> rowFooter}}
